{
  "printWidth": 120,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "arrowParens": "always"
}