/*
 * highlightjs-material-dark-theme
 * Material Dark theme for Highlight.js
 * Based off of https://github.com/equinusocio/material-theme
 * For use with Highlight.js, https://github.com/isagalaev/highlight.js
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #2b2b2d;
  color: #cdd3d8;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}
.hljs > *::selection {
  background-color: #3e4451;
}

.hljs-comment {
  color: #656565;
  font-style: italic;
}

.hljs-selector-tag {
  color: #c792ea;
}

.hljs-string,
.hljs-subst {
  color: #c3e88d;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #f77669;
}

.hljs-keyword {
  color: #c792ea;
}
.hljs-function > .hljs-title {
  color: #75a5ff;
}
.hljs-tag {
  color: #abb2bf;
}
.hljs-name {
  color: #e06c75;
}
.hljs-type {
  color: #da4939;
}

.hljs-attribute {
  color: #80cbbf;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #c792ea;
}

.hljs-params {
  color: #eefff7;
}

.hljs-meta {
  color: #75a5ff;
}

.hljs-title {
  color: #75a5ff;
}

.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #ffcb68;
}

.hljs-selector-id {
  color: #f77669;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
